name: stack-cms-appsmith

networks:
  my-network-proxy:
    name: my-network-proxy
    external: true

services:  
  appsmith:
    image: appsmith/appsmith-ee:v1.86
    restart: unless-stopped
    networks:
      - my-network-proxy
    expose:
      - 80
      - 443
    volumes:
      - /var/mnt-links/docker/volumes/appsmith/appsmith-stacks:/appsmith-stacks
    labels:
      virtual.caddyfile: |
        http://appsmith.localhost {
          reverse_proxy http://appsmith:80 {
          }
        }
      virtual.homefile: |
        <div>
          <a class="shadow" href="http://appsmith.localhost">appsmith</a>
          <small>http://appsmith.localhost</small>
        </div>
