name: stack-media-tixati

networks:
  my-network-proxy:
    name: my-network-proxy
    external: true

volumes:
  stack-media-tixati-config:
    external: true
  stack-media-tixati-output:
    external: true

services:
  tixati:
    image: jlesage/tixati:v26.02.2
    restart: unless-stopped
    shm_size: 2gb
    networks:
      - my-network-proxy
    expose:
      - 5800
    environment:
      SECURE_CONNECTION: 1
      VNC_PASSWORD: ""
      WEB_AUDIO: 1
      WEB_FILE_MANAGER: 1
      DARK_MODE: 1
      # DISPLAY_WIDTH: 1920
      # DISPLAY_HEIGHT: 1080
      KEEP_APP_RUNNING: 1
      TZ: Europe/Vienna
    volumes:
      - stack-media-tixati-config:/config:rw
      - stack-media-tixati-output:/output:rw
    labels:
      virtual.caddyfile: |
        http://tixati.localhost {
          reverse_proxy tixati:5800 {
            transport http {
              tls
              tls_insecure_skip_verify
            }
          }
        }
      virtual.homefile: |
        <div>
          <a class="shadow" href="http://tixati.localhost?resize=remote">tixati</a>
          <small>http://tixati.localhost</small>
        </div>
